body{
	background: url(/images/ldh_fond-page.jpg) repeat;
    color: #222222;
    font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
	font-size:   12px;
	line-height: 16px;

}


#hr{width:970px;border-bottom: 1px solid red;margin-top:10px;margin-bottom:10px;margin-top:15px; margin-left:0px;margin-right:0px}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

blockquote {
    color: #666666;
    font-size: 12px;
    margin: 20px;
}

h1 {
    border-bottom: 0 none;
    color: #333333;
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
	
}
h2 {
    color: #333333;
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 14px;
    margin: 20px 0 5px 0;
    padding: 0;
}

h3 {
    color: #666666;
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 14px;
    margin: 20px 0 0;
    padding: 0;
}

p {font-size: 12px; line-height: 16px;}

ol, ul, li {margin: 0;padding: 0;}
ol, ul, li { list-style-type: none;}
li {font-size: 11px; line-height: 13px; padding: 3px 0;}

td, th {padding: 3px;text-align: left;}


a {padding: 1px;text-decoration: underline;}
a:link { }
a:visited { }
a:hover { color: #000;text-decoration: none;}
a.image:link, a.image:visited, a.image:hover {background: none repeat scroll 0 0 transparent; padding: 0; text-decoration: none;}
a.image img { border: medium none;}

/*----------------------------------------------------------*/
.ClearAll {
    clear: both;
    font-size: 0;
    padding: 0;
}

#Wrapper {
    width: 970px;
min-height:980px;
    margin: 0 auto;
border-left: 1px solid red;
border-right: 1px solid red;
 margin-top:0px;  
}



/*----------------------------------------------------------*/

#Header {
	margin: 0 auto;
    background:#40000b;
    position: relative;
    text-align: left;
	margin-top:-15px;
	height:33px;
	padding-top:31px;
	
	width: 970px;
	border-right: 1px solid red;
	border-left: 1px solid red;
}
#Header h1 {
	
    color: #FFF;
    font-size:26px;
    font-weight: normal;
	font-family: 'Ultra', serif; 
	letter-spacing:1px;
	margin-left:15px;
	text-shadow:1px 1px 1px   #000;
}

#navigation{
	margin: 0 auto;position:absolute;height:48px; width:970px;margin-top:14px;
	margin-left:-1px;border-right: 1px solid red;border-left: 1px solid red;
	background: -webkit-gradient(linear, 50% 20%, 50% 100%, from(#261316), to(#402025)); 
	background: -moz-linear-gradient(25% 75% 90deg,#261316, #402025);
}
#navigation a{
	color:#FFF; text-transform: uppercase; text-decoration:none;	font-family: 'Oswald', serif;
	text-rendering:optimizelegibility;text-shadow:1px 1px 1px   #000; letter-spacing:3px;margin-right:7px;
	font-size:12px;
	
}
#navigation a:hover{
	color:red; 
	
}

#navigation img{margin-right:7px;}

#navigation #span{position:relative;
	margin-left:12px; margin-top:15px;font-size:12px;
	
}
/*----------------------------------------------------------*/
#Left {
    position:relative;
    margin: 0 auto;
	margin-left: 0px;
    padding: 0;
    text-align: left;
    width: 950px;
	border-top: 1px solid red;
	padding: 20px 20px 0px 0px; 
	margin-top:0px;

			
	
	
}

#Left h1 {
    border-bottom: 0 none;
    color: #333333;
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
	background:#708DAF; height:20px; margin-bottom:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#film_title{position:absolute; margin-top:5px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;font-size:20px;color:#262626; margin-left:30px;}

/*----------------------------------------------------------*/

#Right {
    float:right;
    margin-bottom:0px;
    margin-top: -57px;
	margin-right: 98px;
	text-align:right;
	    			
}

#Right ol {
    padding-left: 20px;
}
#Right ul li {
    list-style: none outside none;
    margin-left: 0;
    padding: 0 0 3px;
}


#Rightr {
    position:absolute;
    margin-top: -50px;
	margin-left: 100%;
	width: 250px;
	-webkit-box-shadow:50px 50px 50px #ccc;
	-moz-box-shadow:50px 50px 50px #ccc; 
	box-shadow:50px 50px 50px #ccc;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;  
	padding: 10px;			
}



/*----------------------------------------------------------*/
#films{
	
	width: 970px;
}

/*----------------------------------------------------------*/

#back{position:absolute; margin-top:120px; margin-left:585px;}
#back a{text-decoration:none;color: #000; }
#navbar_wrapper{ position:relative; margin: 0 auto;height:146px;width:970px;border-left: 1px solid red;
border-right: 1px solid red;margin-top:45px;}

#navbar ul{position:relative; margin-top:11px;margin-right:-103px;}
#navbar ul li {

padding:0; 
margin: 0 -10px 0 0; 
display:inline;
 
}

#navbarleft ul{position:absolute; margin-top:11px;margin-left:-660px;}
#navbarleft ul li {

padding:0; 
margin: 0 0px 0 0; 
display:inline;
 
}

#navbarleft a{text-decoration:none;color: #000;}

#navbarleftbis ul{position:absolute; margin-top:11px;margin-left:-640px;}
#navbarleftbis ul li {

padding:0; 
margin: 0 0px 0 0; 
display:inline;
 
}

#navbarleftbis a{text-decoration:none;color: #000;}

#navbar ul,x:-moz-any-link, x:default {
	position:relative; margin-top:11px;margin-right:-123px;
}

#navbar ul li,x:-moz-any-link, x:default {
	padding:0; 
	margin-right:10px;
	margin-left:-20px;
	display:inline;
}

#navbar a {
margin-right:10px;
padding-left:10px;	padding-right:10px; padding-top:5px; padding-bottom:5px;
color: #FFF; 
text-transform: uppercase; 
border: none;
text-decoration:none;
background-color: #92010e;
text-decoration:none;
text-align: center;
font-size:18px;
font-family: 'Oswald', serif;
text-rendering:optimizelegibility;
text-shadow:0px 1px 1px   #000;
}
#navbar li.add a {
margin-right:10px;
padding-left:10px;	padding-right:10px; padding-top:5px; padding-bottom:5px;
color: #FFF; 
text-transform: uppercase; 
border: none;
text-decoration:none;
background-color: red;
text-decoration:none;
text-align: center;
font-size:18px;
font-family: 'Oswald', serif;
text-rendering:optimizelegibility;
text-shadow:0px 1px 1px   #000;
}


/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */


/* -- CSS3 - Rounded Corners -- */

				
/* -- CSS3 Shadow - create a shadow around each input element -- */ 

}

#navbar li.off a {
margin-left:200px;
padding-left:30px;	padding-right:30px; padding-top:5px; padding-bottom:5px;
color: #FFF; 
text-transform: uppercase; 
background-color: #708DAF;
border: none;
text-decoration:none;
text-align: left;
-webkit-box-shadow:0px 0 20px #ccc;
-moz-box-shadow:0px 0 20px #ccc; 
box-shadow:0px 0 20px #ccc;


/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
-webkit-transition: -webkit-box-shadow 0.3s linear;

/* -- CSS3 - Rounded Corners -- */
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
border-radius: 4px; 
				
/* -- CSS3 Shadow - create a shadow around each input element -- */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005F88), to(#095588)); 
background: -moz-linear-gradient(25% 75% 90deg,#095588, #005F88);
}
/*----------------------------------------------------------*/

#footer {
    position:relative;	
   	margin: 0 auto;
    width: 970px;
    text-align: center;
border-top: 1px solid red;
margin-top:-32px;
border-right: 1px solid red;
border-left: 1px solid red;
height:50px;
}
#footer img {
    float:left;margin-left:15px;margin-top:15px;
}

#footer span {
    float:left;margin-left:15px;margin-top:25px;
}

/*----------------------------------------------------------*/
div.field, div.actions { margin-bottom: 10px;}

#notice {float:left;color: green;margin: 0 auto;text-align:center; margin-top:80px;margin-left:15px}
#flash_notice {float:left;color: green;margin: 0 auto;text-align:center; margin-top:80px;margin-left:15px }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation, #errorExplanation {
    background-color: #F0F0F0;
    border: 2px solid red;
    margin-bottom: 20px;
    padding: 7px 7px 12px;
}
#ErrorExplanation h2, #errorExplanation h2 {
    background: url("/images/basecamp_sprites.png") no-repeat scroll -473px -10px #CC0000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    padding: 5px 5px 5px 27px;
    text-align: left;
}
#ErrorExplanation p, #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px;
}
#ErrorExplanation ul, #errorExplanation ul {
    margin-left: 30px;
}
#ErrorExplanation ul li, #errorExplanation ul li {
    font-size: 12px;
    list-style: square outside none;
}

table {
 	
	margin-left:15px;margin-right:15px;
    width:940px;

}
table td {padding:5px;padding-left:10px;}
table td a{padding:5px;padding-left:10px;}
table td a{
  border:none; 
  
  height:20px;
font-family:'Helvetica Neue', Arial;
text-rendering:optimizelegibility;
text-decoration: none;
color:#262626; 
font-weight:bold;



  
}

table td.destroy a {
  border:none; 
  
  height:20px;
  color:red; 
	font-family: 'Oswald', serif;
	text-rendering:optimizelegibility;
	text-transform: uppercase;
	font-size:10px;
	font-weight:300;
}

table th {
  color: #000;
  font-weight: normal;
 padding-bottom:10px;
padding-left:15px;
}
table th.title {
  color: #000;
  font-weight: normal;
	width:430px; 
	
	
}
table th.comp {
  color: #000;
  font-weight: normal;
	width:280px;  
}
table th.count {
  color: #000;
  font-weight: normal;
	width:100px;  
}

table th a {
  color: grey;
  text-decoration: none; 
	font-family: 'Oswald', serif;
	text-rendering:optimizelegibility;
	text-transform: uppercase;
	font-size:10px; 
	
}

table tr.pays {
  background:transparent; color:#262626; 
  border-bottom:1px solid #262626;
 
	
}

table tr.result {
  background: #fff; color:#262626; 
	
}

table tr.result:hover {
  background: #F3F1EF; color:#262626; 
	
	cursor:pointer;	
}



#user_nav{
	position:relative; text-align: right; margin-right:15px;margin-bottom:0px;color:#bfb9ac ;margin-top:-15px;text-transform:uppercase;
	font-family: 'Oswald', serif;
	text-rendering:optimizelegibility;
	text-shadow:1px 1px 1px   #000;
	font-size:10px;
}
#user_nav span { background:#000;color:#FFF; padding-top:4px; padding-bottom:2px; padding-left:3px; padding-right:3px;margin-left:10px;}
#user_nav span a{ color:#FFF;text-decoration:none;text-rendering:optimizelegibility;
font-family: 'Oswald', serif;
text-shadow:1px 1px 1px   #000;
font-size:12px;
}

#sign_in {height:160px; border-bottom: 1px solid red;}
#sign_in p{font-family:'Helvetica Neue', Arial;
text-rendering:optimizelegibility;}

#sign_in #champs p{float:right;margin-right:400px;margin-bottom:-5px;text-shadow:0px 0px 1px   #ccc;
	font-family: 'Oswald', serif;font-weight:100;
	text-rendering:optimizelegibility;}
#sign_in #submit {float:right;margin-right:180px;margin-top:-60px;background:#fff; width:200px;padding-top:0px;padding-bottom:5px;font-family: 'Oswald', serif;
text-transform: uppercase;}
#sign_in #user_submit {background:#94000d; text-transform: uppercase;text-rendering:optimizelegibility;color:#fff;
font-family: 'Oswald', serif;
text-shadow:0px 1px 1px   #000;
padding:10px;
}
#sign_in #user_submit a{background:#94000d; width:50px;}
#sign_in #forgot {float:right;margin-right:45px;margin-top:10px;}
#sign_in #forgot a{font-family:'Helvetica Neue', Arial;
text-rendering:optimizelegibility;text-decoration:none;color:#cccccc;}

span.paginate{float:right;text-transform: uppercase;font-family: 'Oswald', serif;
text-rendering:optimizelegibility;color:grey;font-size:10px;margin-right:30px;}
span.paginate a{color:grey; text-decoration:none}


#film_submit,x:-moz-any-link, x:default {
	margin-top:-10px;
}