 <div id="navbarleft"> 
    <ul> 
      <li><%= link_to "Add Currency", new_currency_path %></li> |
      <li><%= link_to "Add Sound", new_sound_path %></li> |
	  <li><%= link_to "Add Color", new_color_path %></li>

    </ul> 
 </div>
  <div id="navbar"> 
    <ul> 
      <li><%= link_to "Movies", films_path %></li>
      <li><%= link_to "Theaters", salles_path %></li>
      <li class='add'><%= link_to 'Add Movie', new_film_path, :class=>"submit" %></li>
    </ul> 
  </div>

