<%= f.select :currency_id, options_for_select(Currency.all.collect { |x| [x.name, x.id] }.sort, f.object.currency_id), { :include_blank => true } %> <%= f.select(:number, list_prices(), { :include_blank => true }) %>

