<div id="film-notice"></div>
<div id="Left">
  
  <div id="Right">
	<%= render 'navbar' %>    
  
  </div>



<%= render 'common/search_salle', :url => salles_path %>
<div id="hr"></div>
  <div id="sallessearchs"><%= render 'sallessearchs' %></div>


</div>


